body {
    font-family: Helvetica, sans-serif;
    font-size: 1em;

    * {
        box-sizing: border-box;
    }
}

button {
    background-color: forestgreen;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

button.centered {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.75em;
}

button.warning {
    background-color: tomato;
    color: white;
}

.commentForm {
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;

    label,
    input,
    textarea,
    button {
        width: 100%;
        margin-bottom: 0.75em;
    }

    label {
        display: block;
    }

    textarea {
        height: 5em;
    }
}

.comment {
    border: 1px solid black;
    margin: 1em 0;
    padding: 1em;

    p {
        margin-top: 0;
    }

    .comment__author span {
        font-weight: bold;
    }
}

@media (min-width: 37.5em) {
    h1 {
        text-align: center;
    }

    .commentForm {
        padding: 0;
    }

    .App {
        width: 37.5em;
        margin: 0 auto;
    }

    .comment {
        margin: 1em auto;
    }
}
