body {
    font-family: Helvetica, sans-serif;
    font-size: 1em;

    * {
        box-sizing: border-box;
    }
}

.commentForm {
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;

    button {
        background-color: lightgreen;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: .5em;
        font-weight: bold;
    }

    label, input, textarea, button {
        width: 100%;
        margin-bottom: .75em;
    }

    label {
        display: block;
    }

    textarea {
        height: 5em;
    }
}

.comment {
    border: 1px solid black;
    margin: 1em 0;
    padding: 1em;

    p {
        margin-top: 0;
    }

    .comment__author {
        font-weight: bold;
    }
}

@media (min-width: 37.5em) {
    h1 {
        text-align: center;
    }

    .commentForm {
        padding: 0;
    }
    
    .commentForm, .comment {
        width: 37.5em;
    }

    .comment {
        margin: 1em auto;
    }
  }